
@font-face {
    font-family:"rubik";
    src: url(Rubik-VariableFont_wght.ttf);
}

body{
    background-color: rgb(222, 246, 255);
}
#link_nav{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

a{
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-family: "rubik";
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    margin: 0 5px 25px 5px;
    background-color: skyblue;
}

#link_nav a:hover{
    box-shadow: 10px 10px 20px rgba(36, 36, 36, 0.5);
}

.numberDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 10px;
    height: 50px;
    width: 50px;
    font-size: 16px;

}
.numbers{
    display: grid;
    grid-template-columns: repeat(19, 1fr); 
    gap: 5px;
    margin-top: 70px;
    margin-left: 10px; margin-right: 10px;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

p {
    font-family: "Helvetica", Arial, sans-serif;
}
button{
    padding: 5px;
    height: 45px;
}

