.control{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.hover{
    background-color: orange
}
.click{
    background-color: lightcoral;
}
.cleared{
    background-color: red;
}

